<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
	<link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
	<meta charset="UTF-8" />
	<title>Modifica parametri chef</title>
</head>

<body>
	<div>
		<a th:href="@{/default}">Home</a>
	</div>
	<h4>Modifica chef</h4>
	<form th:action="@{'/chef'+'/'+${chef.id}}" th:method="POST" th:object="${chef}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">ErroreGlobale</p>
		</div>
		<div>
			Nome:
			<input class="input" type=text th:field="*{nome}" />
			<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
		</div>
		<div>
			Cognome:
			<input class="input"type=text th:field="*{cognome}" />
			<div th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></div>
		</div>
		<div>
			Nazionalità:
			<input class="input" type=text th:field="*{nazionalita}" />
			<div th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></div>
		</div>
		<div><button type="submit"> Conferma</button></div>
	</form>
</body>

</html>