<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Rimozione chef</title>
</head>

<body>
	<div>
		<a th:href="@{/default}">Home</a>
	</div>
	<h4>Dettaglio chef da rimuovere</h4>
	<div th:object=${chef}>
		<strong>Nome:</strong><span th:text="*{nome}">Paolo</span>
		<strong>Cognome:</strong><span th:text="*{cognome}">Rossi</span>
		<strong>Nazionalità:</strong><span th:text="*{nazionalita}">Italia</span>
		<a th:href="@{'/deleteChef'+'/'+${chef.id}}" th:text="conferma">conferma</a>
	</div>
</body>

</html>