a { 
	text-decoration: none;
    font-family: 'Courier New', monospace;
    position: relative;
    background-color: #deb887;
	color: white;
}

/* Change the color of links on hover */
a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

body {
  background: #deb887; 
  font-family: 'Courier New', monospace;   
}

h4 {
  position: relative;
  left: 0px;
  font-family: 'Courier New', monospace; 
  font-size: 120%;
}
