<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Servizio catering</title>
</head>

<body>
	<div>
		<span><a th:href="@{/chefsUser}">Elenco chefs</a>&nbsp;
			<a th:href="@{/buffetsUser}">Elenco buffets</a>&nbsp;
			<a th:href="@{/piattiUser}">Elenco piatti</a>&nbsp;
			<a th:href="@{/ingredientiUser}">Elenco ingredienti</a>&nbsp;</span>
			<a style= float:right; th:href="@{/login}"> Login</a>
	</div>
	<div>
		<hr>
		<h1>Servizio di catering</h1>
		</hr>
	</div>
</body>

</html>