<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>registrati</title>
	<link rel="stylesheet" th:href="@{/css/login.css}" />
</head>

<body>
	<form th:action="@{/register}" method="POST">

		<input class="input" type="text" placeholder="username" required th:field="${credentials.username}" />
		<span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}"
			th:style="'color:red'"></span>
		<input class="input" type="password" placeholder="password" required th:field="${credentials.password}" />
		<span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}"
			th:style="'color:red'"></span>
		<input class="input" type="text" placeholder="nome" required th:field="${user.nome}" /></td>
		<span th:if="${#fields.hasErrors('user.nome')}" th:errors="${user.nome}" th:style="'color:red'">
		</span>
		<input class="input" type="text" placeholder="cognome" required th:field="${user.cognome}" /></td>
		<span th:if="${#fields.hasErrors('user.cognome')}" th:errors="${user.cognome}" th:style="'color:red'">
		</span>
		</span>
		<input class="input" type="text" placeholder="email" required th:field="${user.email}" /></td>
		<span th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}" th:style="'color:red'">
		</span>

		<div th:object="${user}">
			<span th:if="${#fields.hasGlobalErrors()}">
				<span th:each="err : ${#fields.globalErrors()}" th:text="${err}"></span>
			</span>
		</div>
		<div th:object="${credentials}">
			<span th:if="${#fields.hasGlobalErrors()}">
				<span th:each="err : ${#fields.globalErrors()}" th:text="${err}"></span>
			</span>
		</div>

		<button type="submit">Registrati</button>
		<footer><a th:href="@{/index}">Home</a></footer>

		</table>
	</form>

</body>

</html>