<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/css/index.css}" />
	<link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
	<title>registrazione completata</title>
</head>

<body>
	<div>
		<a href="/">Home</a>
      <div><br><hr>
		<h1>Congratulazioni ti sei registrato!</h1>
      </div>
	</div>
	<div>
		<div><img th:src="@{/images/slider2.jpg}" style="width:1536px;height:600px"></div>
	</div>
	<div>
		<h7>"Catering service" Servizio di Catering per Fiere, Catering Eventi, Banqueting per Eventi Aziendali,
			Catering
			per Matrimoni.
			Immagini e contenuti sono © Copyright dei rispettivi proprietari. E' vietata la riproduzione, anche
			parziale.
		</h7>
	</div>
</body>

</html>