<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" th:href="@{/css/elenco.css}" />
	<link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
	<meta charset="UTF-8" />
	<title>Elenco piatti</title>
</head>

<body>
	<div>
		<a th:href="@{/default}">Home</a>
	</div>
	<h4>Elenco piatti</h4>
	<ul>
		<li th:each="piatto: ${piatti}">
			<a th:href="@{'/piattoAdmin'+'/'+${piatto.id}}" th:text="${piatto.nome}">Lasagna</a>&nbsp
			<a th:href="@{'/toDeletePiatto'+'/'+${piatto.id}}" th:text="rimuovi">rimuovi</a>
			<a th:href="@{'/toUpdatePiatto'+'/'+${piatto.id}}" th:text="modifica">modifica</a>
		</li>
	</ul>
</body>

</html>