<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" th:href="@{/css/singolo.css}" />
	<link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
	<meta charset="UTF-8" />
	<title>Rimozione piatto</title>
</head>

<body>
	<div>
		<a th:href="@{/default}">Home</a>
	</div>
	<h4>Dettaglio piatto da rimuovere</h4>
	<div th:object=${piatto}>
		<strong>Nome:</strong><span th:text="*{nome}">Lasagna</span>
		<strong>Descrizione:</strong><span th:text="*{descrizione}">Bianca</span>
		<a th:href="@{'/deletePiatto'+'/'+${piatto.id}}" th:text="conferma">conferma</a>
	</div>
</body>

</html>